@import '../dojo/resources/dojo.css';
@import '../dijit/themes/claro/document.css';
@import '../dijit/themes/claro/claro.css';
@import '../dgrid/css/skins/claro.css';

html,
body {
  height: 100%;
  margin: 0;
  overflow: none;
  padding: 0;
  width: 100%;
}
